/*=============================================================================================*/
/* Base Styles */
/*=============================================================================================*/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Open Sans, sans-serif;
}

h2 {
  margin-top: 0;
  padding-top: 10px;
}


/*=============================================================================================*/
/* Header */
/*=============================================================================================*/

.main-header {
  height: 65px;
  background-color: #7B72D8;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}

#app-name {
  padding-top: 22px;
  margin-left: 20px;
  color: #FFFFFF;
  font-size: 1em;
}

#app-name > span {
  font-weight: 300;
}

#icon-notify {
  display: block;
  position: absolute;
  width: 22px;
  height: 22px;
  top: 22px;
  right: 190px;
}

.pipe {
  width: 30px;
  height: 90px;
  position: absolute;
  top: 11px;
  right: 155px;
  font-size: 2em;
  font-weight: lighter;
  color: #4a5972;
}

.user-pic {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 13px;
  right: 120px;
  border-radius: 50%;
}

.user > p {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  font-size: .9em;
}

/*=============================================================================================*/
/* Navbar */
/*=============================================================================================*/

.navbar {
  overflow: hidden;
  position: fixed;
  top: 65px;
  margin: 0;
  width: 100%;
  background-color: #534f87;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  z-index: 5;
}

.icons {
  width: 35px;
  height: 50px;
  padding: 5px;
  fill: lightgrey;
}

.navbar > a:focus {
  border-bottom: 3px solid #50e080;
  border-radius: 2px;
}

/*=============================================================================================*/
/* Search */
/*=============================================================================================*/
  

.dashboard-search {
  display: flex;
  flex-direction: row;
  margin-top: 120px;
  border-top: 1px solid darkgray;
}

.dashboard-box {
  flex: 1;
  padding: .67em;
}

.dashboard-box > h2 {
  font-size: .95em;
  font-weight: 400;
  color: #576272;
}

.search-box {
  background-color: #eee;
  border-bottom: 1px solid darkgray;
  border-left: 1px solid darkgray;
  height: 60px;
  flex: .7;
}

#search {
  width: 90%;
  height: 60%;
  margin: 13px 5px 5px 10px;
  border-radius: 5px;
  text-indent: 4px;
  border: none;
  background-color: #fff;
}

/*=============================================================================================*/
/* Alert Notification */
/*=============================================================================================*/

.alert-demo {
  height: 40px;
  width: 90%;
  margin-left: 5%;
  background-color: #7B72D8;
  border-radius: 5px;
  margin-top: 30px;
}

.alert-text > p {
  margin-left: 10px;
  padding-top: 11px;
  color: white;
  font-size: .9em;
}

.alert-text > p > span {
  font-weight: 700;
}

.alert-close > button {
  position: absolute;
  top: 220px;
  right: 6%;
  background-color: inherit;
  border: 0;
  color: white;
}

.alert-close > button:hover {
  cursor: pointer;
}


/*=============================================================================================*/
/* Traffic Buttons */
/*=============================================================================================*/

.traffic-button-group {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 60px;
}

.widget-name {
  text-transform: uppercase;
  font-weight: 400;
  color: #4a5972;
  font-size: .97em;
}

#chart-buttons {
  margin-top: 30px;
}

#chart-buttons > a {
  padding-top: 4px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 4px;
  text-decoration: none;
  font-size: .9em;
  border-radius: 20px;
  color: #4a5972;
}

#chart-buttons > a:focus {
  background-color: #50e080;
  color: white;
}

/*=============================================================================================*/
/* Traffic Widget */
/*=============================================================================================*/

#traffic-widget-container {
  margin-left: 20px;
  margin-right: 20px;
}

#daily-widget-name,
#mobile-users-widget-name,
#social-name,
#members-name,
#recent,
#message-user,
#settings-name {
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  color: #4a5972;
  font-size: .97em;
}

#social-name {
  margin-top: 50px;
}

/*=============================================================================================*/
/* Daily Traffic Widget */
/*=============================================================================================*/

#daily-traffic-widget-container {
  margin-left: 10px;
  margin-right: 20px;
  margin-top: 30px;
}

/*=============================================================================================*/
/* Mobile Users Widget */
/*=============================================================================================*/

#mobile-users-widget-container {
  margin-top: 30px;
}

/*=============================================================================================*/
/* Social */
/*=============================================================================================*/

.social-icon {
  width: 40px;
  height: 40px;
  margin-left: 15px;
  margin-top: 15px;
  
}

.circle {
  width: 70px;
  height: 70px;
  margin-bottom: 40px;
  background-color: #7B72D8;
  border-radius: 50%;
  display: inline-block;
}

.social-box {
  border: 1px solid lightgray;
  margin: 15px;
  padding: 10px;
  height: 130px;
  background-color: #f4f6f9;
}

.social-description {
  display: inline-block;
  margin-left: 3%;
  padding-top: 10px;
}

.social-heading {
  color: #7B72D8;
  padding-left: 6px;
  margin: 0;
  margin-top: 10px;
  
 
 
}

.count {
  font-size: 2.7em;
  font-weight: 300;
  display: inline;
  color: #a2adb5;
}


/*=============================================================================================*/
/* New Member Group */
/*=============================================================================================*/

#new-member-group,
#recent-activity {
  padding: 40px 20px 40px 20px;
}

.member-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 15px;
}

.member-email {
  color: #5f9ae8;
}

.contact {
  padding-left: 10px;
}

.date {
  position: absolute;
  right: 30px;
  padding-top: 20px;
  z-index: -1;
}

table {
  border-collapse: collapse;
}

tr {
  color: #a2adb5;
  font-size: .9em;
  margin-top: 20px;
  border-bottom: 1px solid lightgray;
  
}

td {
  height: 65px;
}

/*=============================================================================================*/
/* Recent Activity */
/*=============================================================================================*/

.member,
.time-passed {
  padding-top: 2px;
  padding-bottom: 2px;
}

.expand-btn {
  position: absolute;
  right: 20px;
  z-index: -1;
  padding-top: 20px;
}

/*=============================================================================================*/
/* Messaging */
/*=============================================================================================*/

#messaging {
  padding: 20px;
}

input[type="search"] {
  width: calc(100% - 12px);
  height: 40px;
  font-size: .95em;
  font-style: italic;
  border: 1px solid lightgray;
  border-radius: 5px;
  text-indent: 5px;
  background-color: #eee;
  margin-bottom: 25px;
}

textarea {
  width: calc(100% - 12px);
  font-style: italic;
  font-size: .95em;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding-top: 7px;
  padding-left: 7px;
  height: 120px;
  background-color: #eee;
  resize: none;
}

#submit-form {
  width: calc(100% - 12px);
  height: 45px;
  margin-top: 20px;
  background-color: #7B72D8;
  border-radius: 5px;
  color: white;
}

#submit-form:hover {
  background-color: #534f87;
  cursor: pointer;
}

/*=============================================================================================*/
/* Settings */
/*=============================================================================================*/

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #46ce1c;
}

input:focus + .slider {
  box-shadow: 0 0 1px #46ce1c;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.layout-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.layout-container > p {
  margin-left: 20px;
  color: #a2adb5;
  font-size: .95em;

}

.switch-container {
  padding-top: 10px;
  margin-right: 32px;
}

.dropdown {
  color: #A1A3A1;
  font-size: .9em;
  width: calc(100% - 50px);
  height: 45px;
  margin-left: 20px;
  cursor: pointer;

}

.button-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}

.save,
.cancel {
  width: 44%;
  height: 45px;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 40px;
  cursor: pointer;
}

.save {
  background-color: #7B72D8;
  color: white;
}

.cancel {
  background-color: #a3a4a3;
  color: white;
}










/*=============================================================================================*/
/* Responsive MQ */
/*=============================================================================================*/

/*========================================================*/
/* Navbar */
/*========================================================*/
  
@media only screen and (min-width: 868px) {

  .navbar {
    position: fixed;
    flex-direction: column;
    justify-content: flex-start;
    top: 65px;
    left: 0px;
    width: 70px;
    min-height: 900px;
  }
  
  .icons {
    width: 55px;
    height: 45px;
    margin: 10px 0px 0px 7px;
    fill: lightgrey;
  }

  .navbar > a:focus {
    border-left: 3px solid #50e080;
    border-radius: 2px;
    border-bottom: 0;
  }

/*========================================================*/
/* Search */
/*========================================================*/

  .dashboard-search {
    margin-top: 60px;
  }

  .dashboard-box > h2 {
    margin-left: 80px;
  }

  .search-box {
    flex: 2.2;
  }

  #search {
    width: 60%;
    height: 60%;
    margin: 13px 5px 5px 39%;
    border-radius: 5px;
    text-indent: 4px;
  }

/*========================================================*/
/* Alert Notification */
/*========================================================*/

  .alert-demo {
    margin-left: 80px;
    margin-right: 5px;
    width: 90%;
  }

  .alert-close > button {
    position: absolute;
    top: 160px;
    right: 60px;
    background-color: inherit;
    border: 0;
    color: white;
  }

/*========================================================*/
/* Traffic Buttons */
/*========================================================*/

  .traffic-button-group {
    display: block;
    margin-top: 20px;
    margin-bottom: 100px;
  } 

  .widget-name {
    display: inline-block;
    position: absolute;
    top: 200px;
    left: 90px;
    margin-top: 20px;
  }

  #chart-buttons {
    display: inline-block;
    position: absolute;
    top: 200px;
    right: 30px;
    margin-top: 20px;
  }

/*========================================================*/
/* Traffic Widgets */
/*========================================================*/

  #traffic-widget-container {
    border-bottom: 1px solid lightgray;
    margin-left: 80px;
    margin-right: 20px;
  }

  #daily-traffic-widget-container {
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    margin-left: 80px;
    margin-right: 0px;
    flex: 1;
  }

  #chart-block {
    display: flex;
    flex-direction: row;
   }

  #mobile-users-widget-container {
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
    flex: 1;
    padding-bottom: 60px;
  }

  #daily-widget-name,
  #mobile-users-widget-name,
  #social-widget-name,
  #members-name,
  #message-user,
  #settings-name {
    text-transform: uppercase;
    font-weight: 400;
    color: #4a5972;
    font-size: .97em;
    margin-left: 10px;
  }

/*========================================================*/
/* Social Stats */
/*========================================================*/

  #social-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-left: 6%;
  }

  .social-box {
    width: 30%;
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
  }


  #social-name-container {
    text-align: center;
  }

/*========================================================*/
/* Lower Grid Layout */
/*========================================================*/

  .grid-container {
    display: grid;
    grid-template-columns: 45% 45%;
    margin-left: 80px;
  }

  .date {
    position: absolute;
    left: 400px;
  }

  #settings {
    margin-left: 20px;
    margin-top: 25px;
  }

  .expand-btn {
    right: 40px;
  }

  





}